@page "/clients"
@using CRM.Admin.Data.ClientDto
@using CRM.Domain.Enums
<MudTable ServerData="@(new Func<TableState, Task<TableData<ClientDto>>>(ServerReload))"
          Dense="true" Hover="true" @ref="_table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Туристи</MudText>
        <MudSpacer/>
        <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="Name" T="ClientDto">Ім`я та прізвище</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Phone" T="ClientDto">Телефон</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Manager" T="ClientDto">Менеджер</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Status" T="ClientDto">Статус</MudTableSortLabel>
        </MudTh>
        <MudTh Class="d-flex justify-end">
            <MudTableSortLabel SortLabel="Tools" T="ClientDto">Інструменти</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Ім'я та Прізвище">
            <MudLink Href=@($"clientById/{context.Id}") Underline="Underline.None" Color="Color.Dark">
                @($"{context.Name} {context.Surname}")
            </MudLink>
        </MudTd>
        <MudTd DataLabel="Телефон">@context.Phone</MudTd>
        <MudTd DataLabel="Менеджери">
            @foreach (var managerName in context.ManagerNames)
            {
            <div>@managerName</div>
            }
        </MudTd>
        <MudTd DataLabel="Статус">@context.LatestStatus?.ToString()</MudTd>
        <MudTd DataLabel="Дія" Class="d-flex justify-end">
            <MudTooltip Text="Додати коментар">
                <MudIconButton OnClick="() => AddComment(context.Id)" Icon="@Icons.Material.Outlined.Comment" Color="Color.Dark"/>
            </MudTooltip>
            <MudTooltip Text="Призначити менеджера">
                <MudIconButton OnClick="() => AddManager(context.Id)" Icon="@Icons.Material.Outlined.PeopleOutline" Color="Color.Dark"/>
            </MudTooltip>
            <MudTooltip Text="Змінити статус">
                <MudIconButton OnClick="() => AddStatus(context.Id)" Icon="@Icons.Material.Outlined.StarBorder" Color="@(context.LatestStatus == ClientStatus.Closed ? Color.Error : Color.Dark)"/>
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>